﻿@model MvcApplication2.Models.Estudiante
<script>
    $(document).ready(function () {
        $("#submitButton").on("click", function () {
            alert('Your Message');
        });

    });

</script>




<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Datos Personales", "PersonalesDS/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Información Familiar", "FamiliaresDS/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Datos Académicos", "AcademicosDS/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Carné de Vacunación", "CarnetVacunacionDS/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Afiliación a Salud", "SaludDS/" + Model.estudianteId, "Estudiante")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

@using (Html.BeginForm("Personales", "Estudiante", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">
        <div class="row">
            <fieldset>
                <legend>Información Personal Estudiante</legend>

                <!-- /.navbar-collapse aca va leyend -->


                <div class="col-sm-3">
                    <img src="@Url.Content(Model.HojaVida.imagen_DI)" alt="..." class="img-rounded"><br />

                </div>

                <div class="col-sm-8">

                    <div class="row">

                        <!-- Text input-->

                        <fosrm class="form-horizontal" role="form">


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Código</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.codigo, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.codigo)
                                </div>

                                <label class="col-sm-2 control-label">Nombre</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.primer_nombre, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.primer_nombre)
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Primer Apellido </label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.primer_apellido, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.primer_apellido)
                                </div>

                                <label class="col-sm-2 control-label">Segundo Apellido</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.segundo_apellido, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.segundo_apellido)
                                </div>
                            </div>

                         



                            <div class="form-group">
                                <div class="col-sm-4">

                                    <br>

                                    <br>
                                    <br>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table">

                                    <tr>
                                        <th>Vacuna</th>
                                        <th>Fecha Vacunacion</th>
                                       
                                        <th>Fecha Proxima Vacunacion</th>
                                        
                                    </tr>
                                    @for (var i = 0; i < Model.HojaVida.Vacunas.Count; i++)
                                    {

                                        <tr>
 
                                            <th>@Html.DisplayFor(m => Model.HojaVida.Vacunas.ElementAt(i).nombre_generico)</th>
                                          @if (Model.HojaVida.Vacunas.ElementAt(i).fecha_vacunacion > DateTime.Now.Date.AddMonths(-20))
                                          {
                                              <th>@Html.DisplayFor(m => Model.HojaVida.Vacunas.ElementAt(i).fecha_vacunacion)</th>
                                    <th>@Html.DisplayFor(m => Model.HojaVida.Vacunas.ElementAt(i).fecha_prox_vacunacion)</th>


                                          }
                                          else
                                          {

                                          }





                                        </tr>
                                    }

                                </table>
                            </div>

                            </div>

                </div><!-- /.row -->



                <div class="col-sm-3">

                </div>


                <div class="col-sm-8">
                    <div class="row">
                        <fdorm class="form-horizontal" role="form">


                            








                          
                        </fdorm>

                    </div><!-- /.row -->
                </div>
            </fieldset>
        </div>
    </div>







}




