﻿@model MvcApplication2.Models.Estudiante



    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Datos Personales", "Personales/" + Model.estudianteId, "Estudiante")</li>
                        <li>@Html.ActionLink("Información Familiar", "Familiares/" + Model.estudianteId, "Estudiante")</li>
                        <li>@Html.ActionLink("Datos Académicos", "Academicos/" + Model.estudianteId, "Estudiante")</li>
                        <li>@Html.ActionLink("Carné de Vacunación", "CarnetVacunacion/" + Model.estudianteId, "Estudiante")</li>
                        <li>@Html.ActionLink("Afiliación a Salud", "Salud/" + Model.estudianteId, "Estudiante")</li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

@*<legend>Datos Familiares</legend>*@
<div class="container">
    <div class="row">
        <fieldset>
            <legend>Datos Familiares</legend>

            <table class="table table-striped table-hover">

                <tr>
                    <th>Parentesco</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                </tr>
                <tr>
                    <th>Padre</th>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.primer_nombre_padre)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.segundo_nombre_padre)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.primer_apellido_padre)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.segundo_apellido_padre)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.direccion_padre)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.telefono_padre)</td>
                </tr>
                <tr>
                    <th>Madre</th>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.primer_nombre_madre)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.segundo_nombre_madre)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.primer_apellido_madre)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.segundo_apellido_madre)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.direccion_madre)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.telefono_madre)</td>
                </tr>
                <tr>
                    <th>Acudiente</th>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.primer_nombre_acudiente)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.segundo_nombre_acudiente)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.primer_apellido_acudiente)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.segundo_apellido_acudiente)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.direccion_acudiente)</td>
                    <td>@Html.DisplayFor(model => model.HojaVida.Familia.telefono_acudiente)</td>
                </tr>
            </table>
            


                        <!-- Text input-->





        </fieldset>
    </div>
</div>


