﻿@model MvcApplication2.Models.Estudiante
<script>
    $(document).ready(function () {
        $("#submitButton").on("click", function () {
            alert('Your Message');
        });

    });

</script>




<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Datos Personales", "Personales/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Información Familiar", "Familiares/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Datos Académicos", "Academicos/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Carné de Vacunación", "CarnetVacunacion/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Afiliación a Salud", "Salud/" + Model.estudianteId, "Estudiante")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

@using (Html.BeginForm("Personales", "Estudiante", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="container">
    <div class="row">
        <fieldset>
            <legend>Información Personal Estudiante</legend>

            <!-- /.navbar-collapse aca va leyend -->


            <div class="col-sm-3">
                <img src="@Url.Content(Model.HojaVida.imagen_DI)" alt="..." class="img-rounded"><br />

            </div>

            <div class="col-sm-8">

                <div class="row">

                    <!-- Text input-->

                    <fosrm class="form-horizontal" role="form">


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tipo</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.tipo_documento, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.codigo)
                            </div>

                            <label class="col-sm-2 control-label">Documento</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.num_documento, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.primer_nombre)
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Código </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.codigo, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.primer_apellido)
                            </div>

                            <label class="col-sm-2 control-label">RH</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.hemoclasificacion, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.hemoclasificacion)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Primer Nombre</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.primer_nombre, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.primer_nombre)
                            </div>

                            <label class="col-sm-2 control-label">Segundo Nombre</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.segundo_nombre, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.segundo_nombre)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Primer Apellido</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.primer_apellido, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.primer_apellido)
                            </div>

                            <label class="col-sm-2 control-label">Segundo Apellido</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.segundo_apellido, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.segundo_apellido)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lugar de Nacimiento</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.municipio_procedencia, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.municipio_procedencia)
                            </div>
                            <label class="col-sm-2 control-label">Fecha de Nacimiento</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.fecha_nacimiento, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.fecha_nacimiento)
                            </div>
                        </div>




                        <div class="form-group">
                            <label class="col-sm-2 control-label">Dirección Local</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.direccion_manizales, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.direccion_manizales)
                            </div>
                            <label class="col-sm-2 control-label">Correo</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.correo, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.correo)
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Teléfono Fijo</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.num_telefono, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.num_telefono)
                            </div>
                            <label class="col-sm-2 control-label">Celular</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.num_celular, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.num_celular)
                            </div>
                        </div>




                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estado Civil</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option value="1" selected>Soltero</option>
                                    <option value="2">Casado</option>
                                    <option value="3">Union libre</option>
                                    <option value="4">Otra</option>
                                </select>
                            </div>

                            <label class="col-sm-2 control-label">Hijos</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" selected>3</option>
                                    <option value="4">+3</option>
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Dirección de Procedencia </label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.direccion_procedencia, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.estudianteId)
                            </div>
                            

                        </div>

                        <div class="form-group">


                            

                            <div class="col-sm-4">
                                
                                @Html.HiddenFor(model => model.estudianteId)
                                @Html.HiddenFor(model => model.hojaVidaId)
                                @Html.HiddenFor(model => model.rotacionId)
                                @Html.HiddenFor(model => model.programaId)
                                @Html.HiddenFor(model => model.clave)
                                @Html.HiddenFor(model => model.modalidad)
                                 @Html.HiddenFor(model => model.clave) 

                                @Html.HiddenFor(model => model.semestre)
                                @Html.HiddenFor(model => model.estado_academico)


                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-sm-4">

                                <br>

                                <br>
                                <br>
                            </div>
                        </div>



                </div>

            </div><!-- /.row -->


            <legend>Informacion Familiar</legend>

            <div class="col-sm-3">

            </div>


            <div class="col-sm-8">
                <div class="row">
                    <fdorm class="form-horizontal" role="form">


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre Padre </label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.primer_nombre_padre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.primer_nombre_padre)
                            </div>
                            <label class="col-sm-2 control-label">Primer Apellido Padre</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.primer_apellido_padre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.primer_apellido_padre)

                            </div>

                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Segundo Apellido Padre </label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.segundo_apellido_padre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.segundo_apellido_padre)
                            </div>
                            <label class="col-sm-2 control-label">Direccion Padre</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.direccion_padre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.direccion_padre)

                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Telefono Padre </label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.telefono_padre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.telefono_padre)
                            </div>

                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre Madre </label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.primer_nombre_madre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.primer_nombre_madre)
                            </div>
                            <label class="col-sm-2 control-label">Primer Apellido Madre</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.primer_apellido_madre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.primer_apellido_madre)

                            </div>

                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Segundo Apellido Madre </label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.segundo_apellido_madre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.segundo_apellido_madre)
                            </div>
                            <label class="col-sm-2 control-label">Direccion Madre</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.direccion_madre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.direccion_madre)

                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Telefono Madre </label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.telefono_madre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.telefono_madre)
                            </div>

                        </div>




                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre Acudiente </label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.primer_nombre_acudiente, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.primer_nombre_acudiente)
                            </div>
                            <label class="col-sm-2 control-label">Primer Apellido Acudiente</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.primer_apellido_acudiente, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.primer_apellido_acudiente)

                            </div>

                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Segundo Apellido Acudiente </label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.segundo_apellido_acudiente, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.segundo_apellido_acudiente)
                            </div>
                            <label class="col-sm-2 control-label">Direccion Acudiente</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.direccion_acudiente, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.direccion_acudiente)

                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Telefono Acudiente </label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.telefono_acudiente, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.telefono_acudiente)
                            </div>
                            <label class="col-sm-2 control-label">Celular Acudiente </label>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.celular_acudiente, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.celular_acudiente)
                            </div>

                        </div>







                        <div class="form-group">

                            <br>

                            <br>
                            <br>
                            <table>
                                <tr>
                                    <td>
                                        <div class="col-sm-4">
                                            <img src='~/Uploads/cedula_@(Model.codigo).jpg' alt="..." class="img-rounded" height="200px" width="200px"><br />

                                        </div>
                                    </td>
                                    <td>
                                        <label for="InputFile">Fotocopia Cédula (jpg,png)</label>
                                        <!--<input type="file" id=""name="UploadedFile" />-->
                                        <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">
                                        <input type="hidden" value=@Model.estudianteId name="idEstudiante" />
                                    </td>

                                </tr>
                                <tr></tr>
                            </table>

                        </div>




                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-default">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>



                    </fdorm>

                </div><!-- /.row -->
            </div>
        </fieldset>
    </div>
</div>







}




