﻿@model MvcApplication2.Models.Estudiante

<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Datos Personales", "Personales/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Información Familiar", "Familiares/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Datos Académicos", "Academicos/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Carné de Vacunación", "CarnetVacunacion/" + Model.estudianteId, "Estudiante")</li>
                    <li>@Html.ActionLink("Afiliación a Salud", "Salud/" + Model.estudianteId, "Estudiante")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


<div class="container">
    <div class="row">
        <fieldset>
            <legend>Información Salud</legend>
            <div class="well">
                <div class="container">
                    <div class="col-sm-3">
                       
                        <img src="@Url.Content(Model.HojaVida.imagen_DI)" alt="..." class="img-rounded"><br />
                    </div>

                    <div class="col-sm-8">

                        <div class="row">
                            <form class="form-horizontal" role="form">

                                <!-- Text input-->





                     


                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Afiliado a</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.HojaVida.entidad_salud, new { @class = "form-control", @readonly = "readonly" })
                                    </div>

                                    <label class="col-sm-2 control-label">Estado</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.HojaVida.estado_afiliacion, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Régimen</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.HojaVida.regimen, new { @class = "form-control", @readonly = "readonly" })
                                    </div>


                                    <label class="col-sm-2 control-label">Tipo Afiliación</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.HojaVida.tipo_afiliacion, new { @class = "form-control", @readonly = "readonly" })
                                    </div>


                                </div>
                            </form>
                        </div><!-- /.row -->
                    </div>
                        
        </fieldset>
    </div>


    </form>

</div><!-- /.row -->
                        </div>
        </fieldset>
    </div>
</div>



