﻿@model MvcApplication2.Models.Funcionario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Funcionario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cargo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cargo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.tipo_documento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.tipo_documento)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.funcionarioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
