﻿@model IEnumerable<MvcApplication2.Models.Funcionario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.tipo_documento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.tipo_documento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.funcionarioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.funcionarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.funcionarioId })
        </td>
    </tr>
}

</table>
