﻿@{
    ViewBag.Title = "Página principal";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title"></hgroup>

        </div>
    </section>
}




    <nav class="navbar navbar-default" role="navigation">

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
             otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Validacion</a></li>
                <li><a href="#">Contraprestacion</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Evaluación<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Acción #1</a></li>
                        <li><a href="#">Acción #2</a></li>
                        <li><a href="#">Acción #3</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Acción #4</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Acción #5</a></li>
                    </ul>
                </li>
                
                <li><a href="#">Gestión documental</a></li>
                

                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar">
                        </div>
                        <button type="submit" class="btn btn-default">Enviar</button>
                    </form>
                </li>
                </ul>

                    </div>               
       </nav>


 <!-- Navigation ----------------------------------------------------------------otroMENU -->
<div class="shoji" id="shoji">
    <div class="shoji-rail">
        <div class="shoji-panel shoji-panel-left">            
        </div>        
    </div>
    <div class="shoji-door">
        <div class="content">
           
            <div class="container">
                <div class="row">
                    <div class="hidden-xs col-sm-4">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Estudiantes</h4>
                                </div>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="Estudiante/Login">Hoja de vida</a></li>
                                    
                                </ul>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Docentes</h4>
                                </div>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="Docente/Login">Hoja de vida</a></li>
                                    
                                </ul>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Docencia Servicio</h4>
                                </div>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="Rotacion/VistaODS">Administrar</a></li>                                                                   
                                </ul>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Departamento</h4>
                                </div>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="DepartamentoSalud/VistaDepartamentoSalud">Administrar</a></li>
                                </ul>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">IPS Universitaria</h4>
                                </div>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="Vacuna/VistaIPS_Universitaria">Administrar</a></li>
                                </ul>
                            </div>
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">IPS/ESES</h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">ContraPrestacion</h4>
                                </div>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="IPS_ESE/SeleccionRotacionContraPrestacionE">Inventario Equipos</a></li>
                                    <li><a href="IPS_ESE/SeleccionRotacionContraPrestacion">Inducciones y Cursos</a></li>
                                </ul>
                            </div>
                            

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">                       
                            
                        <div class="container">
                            <div class="col-md-8">
                                <h1>Relación docencia - servicio:</h1>
                                <p>
                                    Vínculo funcional que se establece entre instituciones educativas 
                                    y otras organizaciones, con el propósito de formar talento humano 
                                    en salud o entre instituciones educativas cuando por lo menos una 
                                    de ellas disponga de escenarios de práctica en salud. Este vínculo 
                                    se funda en un proceso de planificación académica, administrativa
                                     e investigativa de largo plazo, concertado entre las partes de la 
                                    relación docencia - servicio.
                                </p>
                                <div>
                                    <span class="badge">Publicado 2015-04</span><div class="pull-right">
                                        <span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
                                        <span class="label label-danger">Danger</span>
                                    </div>
                                </div>
                                <hr>
                                <h1>Principios de la Relación Docencia Servicio.</h1>
                                <p>
                                    a. Preeminencia del interés social
                                <p>
                                    b. Autorregulación
                                <p>
                                    c. Respeto a los derechos de los usuarios
                                <p>
                                    d. Calidad
                                <p>
                                    e. Planificación
                                <p>
                                    f. Autonomía
                                </p>
                                <div>
                                    <span class="badge">Publicado 2015-04</span><div class="pull-right">
                                        <span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
                                        <span class="label label-danger">Danger</span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>