﻿@model MvcApplication2.Models.ReaccionesAdversas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ReaccionesAdversas</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_reaccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_reaccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.duracion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.duracion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.secuelas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.secuelas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reaccion.tipo_reaccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reaccion.tipo_reaccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vacuna.nombre_generico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vacuna.nombre_generico)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
