﻿@model MvcApplication2.Models.ReaccionesAdversas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ReaccionesAdversas</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_reaccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_reaccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.duracion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.duracion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.secuelas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.secuelas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reaccion.tipo_reaccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reaccion.tipo_reaccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vacuna.nombre_generico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vacuna.nombre_generico)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ReaccionesAdversasId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
