﻿@model MvcApplication2.Models.ReaccionesAdversas

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ReaccionesAdversas</legend>

        @Html.HiddenFor(model => model.ReaccionesAdversasId)

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha_reaccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha_reaccion)
            @Html.ValidationMessageFor(model => model.fecha_reaccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lote)
            @Html.ValidationMessageFor(model => model.lote)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.duracion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.duracion)
            @Html.ValidationMessageFor(model => model.duracion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.secuelas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.secuelas)
            @Html.ValidationMessageFor(model => model.secuelas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.reaccionId, "Reaccion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("reaccionId", String.Empty)
            @Html.ValidationMessageFor(model => model.reaccionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.vacunaId, "Vacuna")
        </div>
        <div class="editor-field">
            @Html.DropDownList("vacunaId", String.Empty)
            @Html.ValidationMessageFor(model => model.vacunaId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
