﻿@model IEnumerable<MvcApplication2.Models.ReaccionesAdversas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_reaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.secuelas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reaccion.tipo_reaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vacuna.nombre_generico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_reaccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.secuelas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reaccion.tipo_reaccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vacuna.nombre_generico)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReaccionesAdversasId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReaccionesAdversasId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReaccionesAdversasId })
        </td>
    </tr>
}

</table>
