﻿@model MvcApplication2.Models.Rotacion

@{
    ViewBag.Title = "Create";
}


<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "VistaODS/", "Rotacion")</li>
                    <li>@Html.ActionLink("Rotación", "Create/", "Rotacion")</li>
                    <li>@Html.ActionLink("Hojas de Vida", "VistaHV/", "HojaVida")</li>
                    <li>@Html.ActionLink("Carta Presentación", "ConsultaRotacion", "Rotacion")</li>
                    <li>@Html.ActionLink("Estudiante", "Buscar/", "Estudiante")</li>
                    <li>@Html.ActionLink("Docente", "Buscar/", "Docente")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)




    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <fosrm class="form-horizontal" role="form">
                <fieldset>
                    <div class="well">

                        <!-- Form Name -->
                        <legend>Crear Rotación</legend>



                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">IPS/ESE </label>
                            <div class="col-sm-10 ">
                                 
                                    @Html.DropDownList("IPS_ESEId", String.Empty)
                               
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Academi.</label>
                            <div class="col-sm-10 ">
                                
                               
                                    @Html.DropDownList("actividadacademicaId", String.Empty)

</div>
                        </div>
                        





                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Grupo</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.grupo, new { @class = "form-control" })
                            </div>
                        </div>



                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Año</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.year_academico, new { @class = "form-control" })
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Periodo</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.periodo_academico, new { @class = "form-control" })
                            </div>
                        </div>



                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Inicio</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.fecha_inicio, new { @class = "form-control" })
                            </div>

                            <label class="col-sm-2 control-label" for="textinput">Fin</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.fecha_terminacion, new { @class = "form-control" })
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Horario</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.horario, new { @class = "form-control" })
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Núm.</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.numero_estudiantes, new { @class = "form-control" })
                            </div>
                        </div>






                        <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-default">Atras</button>
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </div>

                        @*<p>
                            <input type="submit" value="Create" />
                        </p>*@
                    </div>
                </fieldset>
            </fosrm>
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}