﻿@model MvcApplication2.Models.Rotacion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Rotacion</legend>

        @Html.HiddenFor(model => model.rotacionId)

        <div class="editor-label">
            @Html.LabelFor(model => model.grupo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.grupo)
            @Html.ValidationMessageFor(model => model.grupo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha_inicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha_inicio)
            @Html.ValidationMessageFor(model => model.fecha_inicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha_terminacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha_terminacion)
            @Html.ValidationMessageFor(model => model.fecha_terminacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.horario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.horario)
            @Html.ValidationMessageFor(model => model.horario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.year_academico)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.year_academico)
            @Html.ValidationMessageFor(model => model.year_academico)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.periodo_academico)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.periodo_academico)
            @Html.ValidationMessageFor(model => model.periodo_academico)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.numero_estudiantes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numero_estudiantes)
            @Html.ValidationMessageFor(model => model.numero_estudiantes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IPS_ESEId, "IPS_ESE")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IPS_ESEId", String.Empty)
            @Html.ValidationMessageFor(model => model.IPS_ESEId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.actividadacademicaId, "ActividadAcademica")
        </div>
        <div class="editor-field">
            @Html.DropDownList("actividadacademicaId", String.Empty)
            @Html.ValidationMessageFor(model => model.actividadacademicaId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
