﻿@{
    ViewBag.Title = "InformacionDocente";
}

@model MvcApplication2.Models.Docente
<br>
@using (Html.BeginForm("InformacionDocente", "Docente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">


        <div class="row">

    <fieldset>
        <legend>Información Personal Docente</legend>

        <div class="col-sm-3">
            <img src="images/einsteinwiki.jpg" alt="..." class="img-rounded" width="140" height="140"><br />
        </div>

        <div class="col-sm-8">

            <div class="row">
                <fosrm class="form-horizontal" role="form">

                    <!-- Text input-->
                    <div class="form-group">
                        @Html.HiddenFor(model => model.hojaVidaId)
                        @Html.HiddenFor(model => model.rotacionId)
                        @Html.HiddenFor(model => model.docenteId)
                        @Html.HiddenFor(model => model.DepartamentoSaludId)


                        <label class="col-sm-2 control-label">Tipo</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.tipo_documento, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.tipo_documento)
                        </div>

                        <label class="col-sm-2 control-label">Identificación</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.num_documento, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.num_documento)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombres</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.primer_nombre, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.primer_nombre)
                        </div>

                        <label class="col-sm-2 control-label">Primer Apellido</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.primer_apellido, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.primer_apellido)
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Segundo Apellido</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.segundo_apellido, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.segundo_apellido)



                        </div>

                        <label class="col-sm-2 control-label">Lugar de Nacimiento</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.municipio_procedencia, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.municipio_procedencia)


                        </div>

                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha de Nacimiento</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.fecha_nacimiento, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.fecha_nacimiento)

                        </div>

                        <label class="col-sm-2 control-label">RH</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.hemoclasificacion, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.hemoclasificacion)


                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Dirección</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.direccion_manizales, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.direccion_manizales)




                        </div>
                        <label class="col-sm-2 control-label">Correo</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.correo, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.correo)

                        </div>
                    </div>




                    <div class="form-group">
                        <label class="col-sm-2 control-label">EPS</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.entidad_salud, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.entidad_salud)
                        </div>
                        <label class="col-sm-2 control-label">ARL</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.ARL, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.ARL)
                        </div>

                    </div>



                    <div class="form-group">
                        <label class="col-sm-2 control-label">Teléfono  fijo</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.num_telefono, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.num_telefono)
                        </div>
                        <label class="col-sm-2 control-label">Celular</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.num_celular, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.num_celular)
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-2 control-label">Estado Civil</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.estado_civil, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.estado_civil)
                        </div>
                        <label class="col-sm-2 control-label">Hijos</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.hijos, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.hijos)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Num Libreta Militar</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.num_libreta_militar, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.num_libreta_militar)
                        </div>
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.estado_HV, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.estado_HV)
                            </div>
                        

                       
                    </div>


                </fosrm>


            </div><!-- /.row -->
        </div>

        <legend>En caso de emergencia avisar a</legend>


        <div class="col-sm-3">

        </div>


        <div class="col-sm-8">

            <div class="row">
                <fofrm class="form-horizontal" role="form">


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Primer Nombre</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.Familia.primer_nombre_acudiente, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.Familia.primer_nombre_acudiente)
                        </div>
                        <label class="col-sm-2 control-label">Segundo Nombre</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.Familia.segundo_nombre_acudiente, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.Familia.segundo_nombre_acudiente)
                        </div>
                         </div>
                    <div class="form-group">
                       

                        <label class="col-sm-2 control-label">Primer Apellido</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.Familia.primer_apellido_acudiente, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.Familia.primer_apellido_acudiente)
                        </div>

                        <label class="col-sm-2 control-label">Segundo Apellido</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.HojaVida.Familia.segundo_apellido_acudiente, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.HojaVida.Familia.segundo_apellido_acudiente)
                            </div>

                        
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Teléfono</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.Familia.telefono_acudiente, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.Familia.telefono_acudiente)


                        </div>

                        <label class="col-sm-2 control-label">Celular</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.Familia.celular_acudiente, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.Familia.celular_acudiente)                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Dirección</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.HojaVida.Familia.telefono_acudiente, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.HojaVida.Familia.telefono_acudiente)


                        </div>

                        
                    </div>

                </fofrm>

            </div><!-- /.row -->
        </div>


        <legend>Información Académica</legend>

        <div class="col-sm-3">

        </div>


        <div class="col-sm-8">
            <fodrm class="form-horizontal" role="form">

                <div class="row">


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Pregrado</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.titulo_pregrado, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.titulo_pregrado)
                        </div>

                        <label class="col-sm-2 control-label">Máximo Nivel de Formación</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.maximo_nivel_formacion, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.maximo_nivel_formacion)
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Dedicación</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.dedicacion, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.dedicacion)
                        </div>

                        <label class="col-sm-2 control-label">Tipo Vinculación</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.tipo_vinculacion, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.tipo_vinculacion)
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Escalafón</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.categoria_escalafon_docente, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.categoria_escalafon_docente)
                        </div>

                        <label class="col-sm-2 control-label">Departamento</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.DepartamentoSalud.nombre, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.DepartamentoSalud.nombre)
                        </div>

                    </div>

                    
                </div>
            </fodrm>

            </div><!-- /.row -->


            <legend>Documentos</legend>

            <div class="col-sm-3">

            </div>

            <div class="col-sm-8">

                <div class="row">

                    <table class="table table-striped table-hover">

                        <tr>
                            <th>Tipo Documento</th>
                            <th>Acción</th>
                        </tr>
                        <tr>
                            <td>Documento de identidad</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>Acta de grado</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Diploma de Profesional</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Diploma de Especialista</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Tarjeta de profesional de la Dirección Territorial de Salud</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Tarjeta de profesional Departamental</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Tarjeta de profesional Nacional</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>Otro</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>


                    </table>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-default">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </fieldset>
    </div>
    </div>
    

}

