﻿@model MvcApplication2.Models.Reaccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Reaccion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo_reaccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo_reaccion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.reaccionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
