﻿@model MvcApplication2.Models.Adulto

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Adulto</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.gestante)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gestante)
            @Html.ValidationMessageFor(model => model.gestante)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sospecha_embarazo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sospecha_embarazo)
            @Html.ValidationMessageFor(model => model.sospecha_embarazo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.enfermo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.enfermo)
            @Html.ValidationMessageFor(model => model.enfermo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.alergico)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.alergico)
            @Html.ValidationMessageFor(model => model.alergico)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.enfermedad_SI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.enfermedad_SI)
            @Html.ValidationMessageFor(model => model.enfermedad_SI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.convulsiones)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.convulsiones)
            @Html.ValidationMessageFor(model => model.convulsiones)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.vacuna_ultimo_mes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.vacuna_ultimo_mes)
            @Html.ValidationMessageFor(model => model.vacuna_ultimo_mes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.medicado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.medicado)
            @Html.ValidationMessageFor(model => model.medicado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.usuarioId, "Usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("usuarioId", String.Empty)
            @Html.ValidationMessageFor(model => model.usuarioId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.carne_vacunacionId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.carne_vacunacionId)
            @Html.ValidationMessageFor(model => model.carne_vacunacionId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
