﻿@model MvcApplication2.Models.Adulto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Adulto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gestante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gestante)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sospecha_embarazo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sospecha_embarazo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.enfermo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.enfermo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.alergico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.alergico)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.enfermedad_SI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.enfermedad_SI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.convulsiones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.convulsiones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.vacuna_ultimo_mes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.vacuna_ultimo_mes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.medicado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.medicado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.tipo_documento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.tipo_documento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.carne_vacunacionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.carne_vacunacionId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
