﻿@model MvcApplication2.Models.Adulto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Adulto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gestante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gestante)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sospecha_embarazo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sospecha_embarazo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.enfermo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.enfermo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.alergico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.alergico)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.enfermedad_SI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.enfermedad_SI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.convulsiones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.convulsiones)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.vacuna_ultimo_mes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.vacuna_ultimo_mes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.medicado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.medicado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.tipo_documento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.tipo_documento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.carne_vacunacionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.carne_vacunacionId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.adultoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
