﻿@model IEnumerable<MvcApplication2.Models.Adulto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gestante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sospecha_embarazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enfermo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alergico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enfermedad_SI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.convulsiones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vacuna_ultimo_mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medicado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.tipo_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carne_vacunacionId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gestante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sospecha_embarazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enfermo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alergico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enfermedad_SI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.convulsiones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vacuna_ultimo_mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medicado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.tipo_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carne_vacunacionId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.adultoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.adultoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.adultoId })
        </td>
    </tr>
}

</table>
