﻿@model MvcApplication2.Models.RotacionEstudiante

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RotacionEstudiante</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.rotacionId, "Rotacion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("rotacionId", String.Empty)
            @Html.ValidationMessageFor(model => model.rotacionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IPS_ESEId, "IPS_ESE")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IPS_ESEId", String.Empty)
            @Html.ValidationMessageFor(model => model.IPS_ESEId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.docenteId, "Docente")
        </div>
        <div class="editor-field">
            @Html.DropDownList("docenteId", String.Empty)
            @Html.ValidationMessageFor(model => model.docenteId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estudianteId, "Estudiante")
        </div>
        <div class="editor-field">
            @Html.DropDownList("estudianteId", String.Empty)
            @Html.ValidationMessageFor(model => model.estudianteId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
