﻿@model IEnumerable<MvcApplication2.Models.RotacionEstudiante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rotacion.grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPS_ESE.origen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Docente.tipo_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudiante.tipo_documento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rotacion.grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPS_ESE.origen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Docente.tipo_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante.tipo_documento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.rotacionEstudianteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.rotacionEstudianteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.rotacionEstudianteId })
        </td>
    </tr>
}

</table>
