@{
    ViewBag.Title = "Página principal";


}

<div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Vacunas" class="logoUcaldas" src="../../images/Logo Universidad Dorado Grande.png" height="40">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-uppercase" href="#">Docencia Servicio   </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="Account/Login">Administrar </a></li>
                    <li><a href="#">Quiénes somos </a></li>
                    <li><a href="#"></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="Estudiante/Login">Estudiante</a></li>
                            <li><a href="Docente/Login">Docente</a></li>


                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <div class="row">

                <div>
                    <div>
                        <img class="img-responsive img-rounded imagenn" src="../../images/salud.jpg" heigth="2000" width="5000">
                    </div>
                </div>
            </div>
        </div>
    </header>
    Datos actualizados
    
    <footer class="footer text-center">
        <div class="container">
            <small>© Copyright 2015. Crafted with love by <a href="https://www.twitter.com/maridlcrmn">maridlcrmn</a></small>
        </div>
    </footer>
</div>
