﻿@{
    ViewBag.Title = "InformacionDocente";
}

@model MvcApplication2.Models.Docente
<br>
@using (Html.BeginForm("InformacionDocente", "Docente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container">


        <div class="row">

            <fieldset>
                <legend>Información Personal Docente</legend>

                <div class="col-sm-3">
                    <img src="@Url.Content(Model.HojaVida.imagen_DI)" alt="..." class="img-rounded"><br />

                </div>

                <div class="col-sm-8">

                    <div class="row">
                        <fosrm class="form-horizontal" role="form">

                            <!-- Text input-->
                            <div class="form-group">
                                @Html.HiddenFor(model => model.hojaVidaId)
                                @Html.HiddenFor(model => model.rotacionId)
                                @Html.HiddenFor(model => model.docenteId)
                                @Html.HiddenFor(model => model.DepartamentoSaludId)


                                <label class="col-sm-2 control-label">Tipo</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.tipo_documento, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.tipo_documento)
                                </div>

                                <label class="col-sm-2 control-label">Identificación</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.num_documento, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.num_documento)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nombres</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.primer_nombre, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.primer_nombre)
                                </div>

                                <label class="col-sm-2 control-label">Primer Apellido</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.primer_apellido, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.primer_apellido)
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Segundo Apellido</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.segundo_apellido, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.segundo_apellido)



                                </div>

                                <label class="col-sm-2 control-label">Lugar de Nacimiento</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.municipio_procedencia, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.municipio_procedencia)


                                </div>

                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Fecha de Nacimiento</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.fecha_nacimiento, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.fecha_nacimiento)

                                </div>

                                <label class="col-sm-2 control-label">RH</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.hemoclasificacion, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.hemoclasificacion)


                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Dirección</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.direccion_manizales, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.direccion_manizales)




                                </div>
                                <label class="col-sm-2 control-label">Correo</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.correo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.correo)

                                </div>
                            </div>




                            <div class="form-group">
                                <label class="col-sm-2 control-label">EPS</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.entidad_salud, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.entidad_salud)
                                </div>
                                <label class="col-sm-2 control-label">ARL</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.ARL, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.ARL)
                                </div>

                            </div>



                            <div class="form-group">
                                <label class="col-sm-2 control-label">Teléfono  fijo</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.num_telefono, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.num_telefono)
                                </div>
                                <label class="col-sm-2 control-label">Celular</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.num_celular, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.num_celular)
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-sm-2 control-label">Estado Civil</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option value="1" selected>Soltero</option>
                                        <option value="2">Casado</option>
                                        <option value="3">Union libre</option>
                                        <option value="4">Otra</option>
                                    </select>
                                </div>

                                <label class="col-sm-2 control-label">Hijos</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3" selected>3</option>
                                        <option value="4">+3</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Num Libreta Militar</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.num_libreta_militar, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.num_libreta_militar)
                                </div>


                            </div>


                        </fosrm>


                    </div><!-- /.row -->
                </div>

                <legend>En caso de emergencia avisar a</legend>


                <div class="col-sm-3">

                </div>


                <div class="col-sm-8">

                    <div class="row">
                        <fofrm class="form-horizontal" role="form">


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nombre</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.Familia.primer_nombre_acudiente, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.Familia.primer_nombre_acudiente)
                                </div>
                                <label class="col-sm-2 control-label">Primer Apellido</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.Familia.primer_apellido_acudiente, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.Familia.primer_apellido_acudiente)
                                </div>
                            </div>
                            <div class="form-group">


                                <label class="col-sm-2 control-label">Segundo Apellido</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.Familia.segundo_apellido_acudiente, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.Familia.segundo_apellido_acudiente)
                                </div>

                                <label class="col-sm-2 control-label">Direccion</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.Familia.direccion_acudiente, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.Familia.direccion_acudiente)
                                </div>


                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Teléfono</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.Familia.telefono_acudiente, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.Familia.telefono_acudiente)


                                </div>

                                <label class="col-sm-2 control-label">Celular</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.HojaVida.Familia.celular_acudiente, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HojaVida.Familia.celular_acudiente)
                                </div>
                            </div>

                        </fofrm>

                    </div><!-- /.row -->
                </div>


                <legend>Información Académica</legend>

                <div class="col-sm-3">

                </div>


                <div class="col-sm-8">
                    <fodrm class="form-horizontal" role="form">

                        <div class="row">


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Pregrado</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.titulo_pregrado, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.titulo_pregrado)
                                </div>

                                <label class="col-sm-2 control-label">Postgrado</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.maximo_nivel_formacion, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.maximo_nivel_formacion)
                                </div>

                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Dedicación</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option value="1">Tiempo completo</option>
                                        <option value="1">Medio tiempo</option>
                                        <option value="2">Catedrático</option>
                                        <option value="3" selected>Ocasional</option>
                                        <option value="4">Otro</option>
                                    </select>
                                </div>

                                <label class="col-sm-2 control-label">Es de planta</label>
                                <div class="col-sm-4">
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Escalafón</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option value="1">Auxiliar</option>
                                        <option value="1">Asistente</option>
                                        <option value="2">Asociado</option>
                                        <option value="3" selected>Titular</option>
                                        <option value="4">Otro</option>
                                    </select>
                                </div>

                                <label class="col-sm-2 control-label">Departamento</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option value="1">Básico Clínico</option>
                                        <option value="1">Materno infantil</option>
                                        <option value="2">Quirúrgico</option>
                                        <option value="3" selected>Clínico</option>
                                        <option value="4">Salud Mental</option>
                                        <option value="4">Salud pública</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fodrm>

                </div><!-- /.row -->


                <legend>Documentos</legend>

                <div class="col-sm-3">

                </div>

                <div class="col-sm-8">

                    <div class="row">

                        <table class="table table-striped table-hover">

                            <tr>
                                <th>Tipo Documento</th>
                                <th>Acción</th>
                                <th>Archivo</th>
                            </tr>
                            <tr>
                                <td>Documento de identidad</td>
                                <td>
                                    <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">
                                </td>
                                <td>

                                    <img src='~/Uploads/doc_identidad@(Model.num_documento).jpg' alt="..." class="img-rounded" height="50px" width="50px"><br />

                                </td>


                            </tr>

                            <tr>
                                <td>Acta de grado</td>
                                <td>
                                    <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                                </td>
                                <td>

                                    <img src='~/Uploads/acta_grado@(Model.num_documento).jpg' alt="..." class="img-rounded" height="50px" width="50px"><br />

                                </td>
                            </tr>
                            <tr>
                                <td>Diploma de Profesional</td>
                                <td>
                                    <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                                </td>
                                <td>

                                    <img src='~/Uploads/dip_prof@(Model.num_documento).jpg' alt="..." class="img-rounded" height="50px" width="50px"><br />

                                </td>
                            </tr>
                            <tr>
                                <td>Diploma de Especialista</td>
                                <td>
                                    <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                                </td>
                                <td>

                                    <img src='~/Uploads/dip_espe@(Model.num_documento).jpg' alt="..." class="img-rounded" height="50px" width="50px"><br />

                                </td>
                            </tr>
                            <tr>
                                <td>Tp de la Dirección Territorial de Salud</td>
                                <td>
                                    <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                                </td>
                                <td>

                                    <img src='~/Uploads/tp_terr@(Model.num_documento).jpg' alt="..." class="img-rounded" height="50px" width="50px"><br />

                                </td>
                            </tr>
                            <tr>
                                <td>Tarjeta de profesional Departamental</td>
                                <td>
                                    <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                                </td>
                                <td>

                                    <img src='~/Uploads/tp_dept@(Model.num_documento).jpg' alt="..." class="img-rounded" height="50px" width="50px"><br />

                                </td>
                            </tr>
                            <tr>
                                <td>Tarjeta de profesional Nacional</td>
                                <td>
                                    <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                                </td>
                                <td>

                                    <img src='~/Uploads/tp_nal@(Model.num_documento).jpg' alt="..." class="img-rounded" height="50px" width="50px"><br />

                                </td>
                            </tr>

                            <tr>
                                <td>Otro</td>
                                <td>
                                    <input type="file" name="InputFile" accept="image/x-png, image/gif, image/jpeg">

                                </td>
                                <td>

                                    <img src='~/Uploads/otro@(Model.num_documento).jpg' alt="..." class="img-rounded" height="50px" width="50px"><br />

                                </td>
                            </tr>


                        </table>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-default">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </fieldset>
        </div>
    </div>


}

