﻿@model MvcApplication2.Models.Docente

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";}


<fieldset>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4" align="center">
                <br />
                <br />
                <legend>Validación Docente</legend>
            </div>
        </div>
    </div>
</fieldset>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <div id="my-tab-content" class="tab-content" align="center">
                        <div class="tab-pane active" id="login">
                            <div class="form-group">
                                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                     alt="">
                            </div>

                            <form class="form-signin" action="" method="">

                                <div class="form-group">
                                    <!-- /.row <input type="text" class="form-control" placeholder="Username" required autofocus>-->
                                    <!-- /.row <input type="password" class="form-control" placeholder="Password" required>Sign In-->
                                    @Html.TextBoxFor(model => model.num_documento, new { @class = "form-control", @placeholder = "Username" })
                                    @Html.ValidationMessageFor(model => model.num_documento)

                                    @Html.PasswordFor(model => model.clave, new { @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(model => model.clave)
                                </div>

                                <input type="submit" class="btn btn-lg btn-default btn-block" value="Iniciar sesión" />
                            </form>


                            <div id="tabs" data-tabs="tabs">
                                <p class="text-center"><a href="#register" data-toggle="tab"></a></p>
                                <p class="text-center"><a href="#select" data-toggle="tab"></a></p>
                            </div>
                        </div>
                        <div class="tab-pane" id="register">
                            <form class="form-signin" action="" method="">
                                <input type="text" class="form-control" placeholder="User Name ..." required autofocus>
                                <input type="email" class="form-control" placeholder="Emaill Address ..." required>
                                <input type="password" class="form-control" placeholder="Password ..." required>
                                <input type="submit" class="btn btn-lg btn-default btn-block" value="Sign Up" />
                            </form>
                            <div id="tabs" data-tabs="tabs">
                                <p class="text-center"><a href="#login" data-toggle="tab">Have an Account?</a></p>
                            </div>
                        </div>
                        <div class="tab-pane" id="select">
                            <div id="tabs" data-tabs="tabs">
                                <div class="media account-select">
                                    <a href="#user1" data-toggle="tab">
                                        <div class="pull-left">
                                            <img class="select-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                                 alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="select-name">User Name 1</h4>
                                        </div>
                                    </a>
                                </div>
                                <hr />
                                <div class="media account-select">
                                    <a href="#user2" data-toggle="tab">
                                        <div class="pull-left">
                                            <img class="select-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                                 alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="select-name">User Name 2</h4>
                                        </div>
                                    </a>
                                </div>
                                <hr />
                                <p class="text-center"><a href="#login" data-toggle="tab">Back to Login</a></p>
                            </div>
                        </div>
                        <div class="tab-pane" id="user1">
                            <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                 alt="">
                            <h3 class="text-center">User Name 1</h3>
                            <form class="form-signin" action="" method="">
                                <input type="hidden" class="form-control" value="User Name">
                                <input type="password" class="form-control" placeholder="Password" autofocus required>
                                <input type="submit" class="btn btn-lg btn-default btn-block" value="Sign In" />
                            </form>
                            <p class="text-center"><a href="#login" data-toggle="tab">Back to Login</a></p>
                            <p class="text-center"><a href="#select" data-toggle="tab">Select another Account</a></p>
                        </div>
                        <div class="tab-pane" id="user2">
                            <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                 alt="">
                            <h3 class="text-center">User Name 2</h3>
                            <form class="form-signin" action="" method="">
                                <input type="hidden" class="form-control" value="User Name">
                                <input type="password" class="form-control" placeholder="Password" autofocus required>
                                <input type="submit" class="btn btn-lg btn-default btn-block" value="Sign In" />
                            </form>
                            <p class="text-center"><a href="#login" data-toggle="tab">Back to Login</a></p>
                            <p class="text-center"><a href="#select" data-toggle="tab">Select another Account</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}