@model MvcApplication2.Models.Vacuna
@{
    ViewBag.Title = "VistaIPS_Universitaria";
}


<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "VistaIPS_Universitaria/", "Vacuna")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Hoja de vida<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Estudiante", "BuscarEnVacuna/", "Estudiante")</li>
                            <li>@Html.ActionLink("Docente", "BuscarEnVacuna/", "Docente")</li>
                           
                        </ul>
                    </li>
                    
                    
                 </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>





<div class="container">

    <h2>IPS Universitaria</h2>


    <div class="well well-sm">
        <p>
            <span class="label label-warning">Decreto 2376 del Ministerio de protección social</span>
            <br>
            (JULIO 1 DE 2010) <strong>Por medio del cual se regula la relación Docencia - Servicio para los programas de formación de talento humano del área de la salud </strong>.
            <br><br>
            <a href="~/Decreto_2376_de_Julio_01_de_2010.pdf" target="_blank">Revisar decreto</a><br />
            <a href="~/Manual de procesos Relacion docencia servicio.pdf" target="_blank">Manual de procesos relacion Docencia Servicio</a>
        </p>
    </div>


    <div class="row marketing">
        <div class="col-lg-6">
            <p>
                <img src="../../images/vacuna.jpg" alt="sticky bun flickr.com" class="img-responsive img-rounded center-block">
            </p>
        </div>

        <div class="col-lg-6">
            <h4>Importante!</h4>
            <p class="help-block">
                Información útil para el proceso de contraprestación en la relación Docencia Servicio.
            </p>
            <div>
                <a class="btn btn-default" href="~/manual Moodel usuario administrador.pdf" role="button">Esquema Obligatorio</a>
                <a class="btn btn-default" href="~/PORTAFOLIO 2015.pdf" role="button">Precios</a>
                <a class="btn btn-default" href="~/Capacitaciones 2015.pdf" role="button">Manual</a>


            </div>
        </div>



    </div>



</div>


<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">
            © 2015 - Facultad de Ciencias para la Salud.
            <a href="http://www.ucaldas.edu.co/portal/" target="_blank">Universidad de Caldas</a>
        </p>

        <a href="VistaIPS_Universitaria" class="navbar-btn btn-danger btn pull-right">
            <span class="glyphicon glyphicon-star"></span>  Página Inicial
        </a>
    </div>


</div>