﻿@model MvcApplication2.Models.ActividadAcademica

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ActividadAcademica</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.tipo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tipo)
            @Html.ValidationMessageFor(model => model.tipo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.asignatura)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.asignatura)
            @Html.ValidationMessageFor(model => model.asignatura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.codigo_AA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.codigo_AA)
            @Html.ValidationMessageFor(model => model.codigo_AA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.objetivo_general)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.objetivo_general)
            @Html.ValidationMessageFor(model => model.objetivo_general)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modalidad_practica)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modalidad_practica)
            @Html.ValidationMessageFor(model => model.modalidad_practica)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.grupo_maximo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.grupo_maximo)
            @Html.ValidationMessageFor(model => model.grupo_maximo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.max_estudiantes_rotacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.max_estudiantes_rotacion)
            @Html.ValidationMessageFor(model => model.max_estudiantes_rotacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DepartamentoSaludId, "DepartamentoSalud")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DepartamentoSaludId", String.Empty)
            @Html.ValidationMessageFor(model => model.DepartamentoSaludId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
