﻿@model MvcApplication2.Models.ActividadAcademica

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ActividadAcademica</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.asignatura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.asignatura)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.codigo_AA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.codigo_AA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.objetivo_general)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.objetivo_general)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modalidad_practica)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modalidad_practica)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.grupo_maximo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.grupo_maximo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.max_estudiantes_rotacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.max_estudiantes_rotacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DepartamentoSalud.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartamentoSalud.nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
