﻿@model IEnumerable<MvcApplication2.Models.ActividadAcademica>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.asignatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo_AA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.modalidad_practica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grupo_maximo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.max_estudiantes_rotacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartamentoSalud.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.asignatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_AA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.modalidad_practica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grupo_maximo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.max_estudiantes_rotacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartamentoSalud.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.actividadacademicaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.actividadacademicaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.actividadacademicaId })
        </td>
    </tr>
}

</table>
