﻿<html>
<head>

  



    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapcss")
</head>
<body>
    <div class="row-fluid">
        <div class="container-fluid">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

                <div class="container-fluid">
                    <div class="navbar-header">




                        <a class="navbar-brand" href="#">
                            <img alt="Vacunas" src="../../images/uc_logo.png" height="50px">
                        </a>
                        <a class="navbar-brand" href="#">
                            Universidad de Caldas - Facultad de Ciencias de la Salud
                        </a>

                    </div>


                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-lock"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
             
            
            
            







            <div class="span9">

                <div class="row-fluid">
                    @RenderSection("featured", required: false)
                    @RenderSection("Scripts", required: false)


                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>
            </div>
        </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery8")
        @Scripts.Render("~/bundles/bootstrapjs")
</body>
</html>