﻿@model MvcApplication2.Models.Docente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Docente</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo_documento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo_documento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.num_documento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.num_documento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.titulo_pregrado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo_pregrado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.titulo_postgrado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo_postgrado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dedicacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dedicacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo_vinculacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo_vinculacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.categoria_escalafon_docente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.categoria_escalafon_docente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.imagen_acta_grado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.imagen_acta_grado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.certificado_DPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.certificado_DPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.certificado_TPDTS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.certificado_TPDTS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.certificado_TPN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.certificado_TPN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HojaVida.primer_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HojaVida.primer_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.departamento_saludId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.departamento_saludId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActividadAcademica.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActividadAcademica.nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.docenteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
