﻿@{
    ViewBag.Title = "InformacionDocente";
}

@model MvcApplication2.Models.Docente
<br >


<div class="container">
    <div class="row">
        <fieldset>
            <legend>Información Personal Docente</legend>

            <div class="col-sm-3">
                <img src="images/einsteinwiki.jpg" alt="..." class="img-rounded" width="140" height="140"><br />
            </div>

            <div class="col-sm-8">

                <div class="row">
                    <form class="form-horizontal" role="form">

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tipo</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="CC" class="form-control" readonly>
                            </div>

                            <label class="col-sm-2 control-label">Identificación</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="5679345" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Wilson Ricardo" class="form-control" readonly>
                            </div>

                            <label class="col-sm-2 control-label">Apellidos</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Erira Correa" class="form-control" readonly>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lugar de Nacimiento</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Bogota, Cundinamarca" class="form-control" readonly>
                            </div>
                            <label class="col-sm-2 control-label">Fecha de Nacimiento</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="23/12/1989" class="form-control" readonly>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Edad</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="34" class="form-control" readonly>
                            </div>
                            <label class="col-sm-2 control-label">RH</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="O-" class="form-control" readonly>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Dirección</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Torre la Rambla, apto. 101" class="form-control" readonly>
                            </div>
                            <label class="col-sm-2 control-label">Correo</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="erira.1708990986@ucaldas.edu" class="form-control" readonly>
                            </div>
                        </div>


                        

                        <div class="form-group">
                            <label class="col-sm-2 control-label">EPS</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Saludcoop" class="form-control" readonly>
                            </div>
                            <label class="col-sm-2 control-label">ARL</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="SURA" class="form-control" readonly>
                            </div>
                        </div>
                                     
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Teléfono  fijo</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label">Celular</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="" class="form-control">
                            </div>
                        </div>       
                        


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estado Civil</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option value="1" selected>Soltero</option>
                                    <option value="2">Casado</option>
                                    <option value="3">Union libre</option>
                                    <option value="4">Otra</option>
                                </select>
                            </div>

                            <label class="col-sm-2 control-label">Hijos</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" selected>3</option>
                                    <option value="4">+3</option>
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">TPD</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label">TPN</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="" class="form-control">
                            </div>
                        </div>



                    </form>

                </div><!-- /.row -->
            </div>

            <legend>En caso de emergencia avisar a</legend>

            <div class="col-sm-3">

            </div>


            <div class="col-sm-8">

                <div class="row">
                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="" class="form-control">
                            </div>

                            <label class="col-sm-2 control-label">Dirección</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Teléfono</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="" class="form-control">
                            </div>

                            <label class="col-sm-2 control-label">Celular</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="" class="form-control">
                            </div>
                        </div>

                    </form>

                </div><!-- /.row -->
            </div>


            <legend>Información Académica</legend>

            <div class="col-sm-3">

            </div>


            <div class="col-sm-8">

                <div class="row">
                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Pregrado</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Médico General" class="form-control">
                            </div>

                            <label class="col-sm-2 control-label">Postgrado</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Ortopedia" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Dedicación</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option value="1">Tiempo completo</option>
                                    <option value="1">Medio tiempo</option>
                                    <option value="2">Catedrático</option>
                                    <option value="3" selected>Ocasional</option>
                                    <option value="4">Otro</option>
                                </select>
                            </div>

                            <label class="col-sm-2 control-label">Es de planta</label>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Si
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Escalafón</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option value="1">Auxiliar</option>
                                    <option value="1">Asistente</option>
                                    <option value="2">Asociado</option>
                                    <option value="3" selected>Titular</option>
                                    <option value="4">Otro</option>
                                </select>
                            </div>

                            <label class="col-sm-2 control-label">Departamento</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option value="1">Básico Clínico</option>
                                    <option value="1">Materno infantil</option>
                                    <option value="2">Quirúrgico</option>
                                    <option value="3" selected>Clínico</option>
                                    <option value="4">Salud Mental</option>
                                    <option value="4">Salud pública</option>
                                </select>
                            </div>
                        </div>

                    </form>

                </div><!-- /.row -->
            </div>

            <legend>Documentos</legend>

            <div class="col-sm-3">

            </div>

            <div class="col-sm-8">

                <div class="row">

                    <table class="table table-striped table-hover">

                        <tr>
                            <th>Tipo Documento</th>
                            <th>Acción</th>
                        </tr>
                        <tr>
                            <td>Documento de identidad</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Acta de grado</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Diploma de Profesional</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Diploma de Especialista</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Tarjeta de profesional de la Dirección Territorial de Salud</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Tarjeta de profesional Departamental</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Tarjeta de profesional Nacional</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Otro</td>
                            <td>
                                <a href="">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        
                       
                    </table>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-default">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </fieldset>
    </div>
</div>





                        

                        

                        

                        

                        

                      


                        




