﻿@model MvcApplication2.Areas.Api.Models.Evento

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Evento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eve_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eve_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoEventos.teve_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoEventos.teve_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Municipios.mun_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Municipios.mun_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eve_finicial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eve_finicial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eve_ffinal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eve_ffinal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eve_lugar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eve_lugar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eve_valor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eve_valor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.latitud)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.latitud)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.longitud)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.longitud)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Clientes.usu_identificacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Clientes.usu_identificacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.est_codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.est_codigo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
