﻿@model MvcApplication2.Areas.Api.Models.Evento

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Evento</legend>

        @Html.HiddenFor(model => model.eventoId)

        <div class="editor-label">
            @Html.LabelFor(model => model.eve_nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eve_nombre)
            @Html.ValidationMessageFor(model => model.eve_nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tipoEventoId, "TipoEventos")
        </div>
        <div class="editor-field">
            @Html.DropDownList("tipoEventoId", String.Empty)
            @Html.ValidationMessageFor(model => model.tipoEventoId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.municipioId, "Municipios")
        </div>
        <div class="editor-field">
            @Html.DropDownList("municipioId", String.Empty)
            @Html.ValidationMessageFor(model => model.municipioId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eve_finicial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eve_finicial)
            @Html.ValidationMessageFor(model => model.eve_finicial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eve_ffinal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eve_ffinal)
            @Html.ValidationMessageFor(model => model.eve_ffinal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eve_lugar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eve_lugar)
            @Html.ValidationMessageFor(model => model.eve_lugar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eve_valor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eve_valor)
            @Html.ValidationMessageFor(model => model.eve_valor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.latitud)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.latitud)
            @Html.ValidationMessageFor(model => model.latitud)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.longitud)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.longitud)
            @Html.ValidationMessageFor(model => model.longitud)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.status)
            @Html.ValidationMessageFor(model => model.status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.clienteId, "Clientes")
        </div>
        <div class="editor-field">
            @Html.DropDownList("clienteId", String.Empty)
            @Html.ValidationMessageFor(model => model.clienteId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.est_codigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.est_codigo)
            @Html.ValidationMessageFor(model => model.est_codigo)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
