﻿@model IEnumerable<MvcApplication2.Areas.Api.Models.Evento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.eve_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoEventos.teve_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipios.mun_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eve_finicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eve_ffinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eve_lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eve_valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.usu_identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.est_codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.eve_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEventos.teve_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Municipios.mun_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eve_finicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eve_ffinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eve_lugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eve_valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.usu_identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.est_codigo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.eventoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.eventoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.eventoId })
        </td>
    </tr>
}

</table>
