﻿@model MvcApplication2.Models.Equipo

@{
    ViewBag.Title = "Equipo";
}

<h2>Equipo</h2>

<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Equipo", "", "Equipo")</li>
                    <li>@Html.ActionLink("Cursos", "", "Curso")</li>
                      <li>@Html.ActionLink("Inducciones", "", "Induccion")</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


@using (Html.BeginForm("Equipo", "Equipo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
   
    <div class="col-sm-9 col-md-9">
        <div class="form-group">
            <label class="col-sm-9 control-label">Nombre</label>
            <div class="col-sm-4">



                @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
            <label class="col-sm-10 control-label">Serial o Codigo</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.serial, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.serial)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-9 control-label">Cantidad</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.cantidad, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cantidad)
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-9 control-label">Estado</label>
            <div class="col-sm-4">
                 @Html.ValidationMessageFor(model => model.estado)


                  
               

                @Html.DropDownList("estado", new List<SelectListItem>() { new SelectListItem { Text = "Excelente", Value = "Excelente" }, new SelectListItem { Text = "Bueno", Value = "Bueno" }, new SelectListItem { Text = "Regular", Value = "Regular" }, new SelectListItem { Text = "Malo", Value = "Malo" } })

                <br>
                <br>


            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">Costo</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.costo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.costo)
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-9 control-label">Dependencia</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.dependencia, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.dependencia)
            </div>

        </div>
        
        <div class="form-group">
    <label class="col-sm-9 control-label">Recibido</label>
    <div class="col-sm-4">
        @Html.TextBoxFor(model => model.recibido, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.recibido)
    </div>
          
</div>
        <div class="form-group">
            <label class="col-sm-9 control-label">IPS</label>
            <div class="col-sm-4">

               @Html.DropDownList("IPS_ESEId", String.Empty)
            @Html.ValidationMessageFor(model => model.IPS_ESEId)
                
                 
            </div>
            <br>

            <br>
            <br>
        </div>

       
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                   <br>

                    <br>
                  
                    <button type="submit" class="btn btn-primary">Guardar</button>
              
            </div>
        </div>


    </div>
}