﻿@model IEnumerable<MvcApplication2.Models.Equipo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<div class="row">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Equipo", "", "Equipo")</li>
                <li>@Html.ActionLink("Cursos", "", "Curso")</li>
                <li>@Html.ActionLink("Inducciones", "", "Induccion")</li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</div>
<p>
    @Html.ActionLink("Crear Nuevo", "Equipo")
</p>
@using (Html.BeginForm())
{


    <p>
        Buscar por IPS: @Html.TextBox("SearchString")
        <input type="submit" value="Buscar" />
    </p>
}
<div class="table-responsive">
    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dependencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recibido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPS_ESE.nombre)
            </th>

        </tr>
        <tr></tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.serial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dependencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recibido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IPS_ESE.nombre)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.equipoId })
                </td>
            </tr>
        }
    </table>
</div>
