﻿@model MvcApplication2.Models.InfanciaMenor

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>InfanciaMenor</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.num_certificado_nv)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.num_certificado_nv)
            @Html.ValidationMessageFor(model => model.num_certificado_nv)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.peso_al_nacer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.peso_al_nacer)
            @Html.ValidationMessageFor(model => model.peso_al_nacer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.talla)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.talla)
            @Html.ValidationMessageFor(model => model.talla)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.responsable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.responsable)
            @Html.ValidationMessageFor(model => model.responsable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.hemoclasificacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hemoclasificacion)
            @Html.ValidationMessageFor(model => model.hemoclasificacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IPS_ESE_nacimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IPS_ESE_nacimiento)
            @Html.ValidationMessageFor(model => model.IPS_ESE_nacimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.usuarioId, "Usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("usuarioId", String.Empty)
            @Html.ValidationMessageFor(model => model.usuarioId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.carne_vacunacionId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.carne_vacunacionId)
            @Html.ValidationMessageFor(model => model.carne_vacunacionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.municipioId, "Municipio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("municipioId", String.Empty)
            @Html.ValidationMessageFor(model => model.municipioId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
