﻿@model MvcApplication2.Models.InfanciaMenor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>InfanciaMenor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.num_certificado_nv)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.num_certificado_nv)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.peso_al_nacer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.peso_al_nacer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.talla)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.talla)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.responsable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.responsable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hemoclasificacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hemoclasificacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IPS_ESE_nacimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IPS_ESE_nacimiento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.tipo_documento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.tipo_documento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.carne_vacunacionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.carne_vacunacionId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Municipio.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Municipio.nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
