﻿@model IEnumerable<MvcApplication2.Models.InfanciaMenor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.num_certificado_nv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso_al_nacer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.talla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.responsable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hemoclasificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPS_ESE_nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.tipo_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carne_vacunacionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipio.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.num_certificado_nv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peso_al_nacer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.talla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.responsable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hemoclasificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPS_ESE_nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.tipo_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carne_vacunacionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Municipio.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InfanciaMenorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InfanciaMenorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InfanciaMenorId })
        </td>
    </tr>
}

</table>
