/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

/**body  padding-top: 50px;
*/

body { 
    
padding-top: 50px;
 }
    




/* ESTE CSS DEFINE EL INICIO DE SESION DESDE LA PAGINA PRINCIPAL
-------------------------------------------------------------------------------------------*/
login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
      background-color: #eee;
      
}
/* cerrar sesion de administrador
----------*/
#login a {
        
        text-decoration-color:black;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
        color:cornsilk;
  
    }
   
/* Usuario administrador
-------------------------*/
    #login a.username {
        
        text-decoration: none;
        color:silver;
        
        margin: 0;
        padding: 0;
        
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }



/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */








/* DISEÑO DE TODAS LAS TABLAS
-------------------------------------------------------------------------------------*/
.table-bordered {
border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;

}

.table {
    margin-left:20px;
    
    width:1280px;
margin-bottom: 20px;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
display: table;

}

.tableSoportesTodos {
    margin-left:20px;
    
    width:1000px;
margin-bottom: 20px;
background-color: transparent;
border-collapse:separate;

display: table;

}

.thSop {

border-spacing:40px;
border-radius:70px;
border-collapse:separate;
border-spacing:90px; 
align-content:center;
   
}

.tableDocumentos{
    width:790px;
    border-collapse:separate;
}
.tableSoportes{
    width:790px;
    border-collapse:separate;
}
.tdDocumentos {
     padding: 8px;    
     border-bottom: 7px solid #fff;
      border-left:9px solid transparent; 
}



.widget.widget-table .table {
margin-bottom: 100px;
border: none;

}

.widget.widget-table .widget-content {
padding: 0;

}

.widget .widget-header + .widget-content {
border-top: none;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
}



.widget .widget-header {
margin-left:20px;
margin-right:20px;
margin-top:67px;
    width:1280px;
position:inherit;
height: 40px;
line-height: 40px;
background: #E9E9E9;
background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
text-shadow: 0 1px 0 #fff;
border-radius: 5px 5px 0 0;
box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
border-bottom: 1px solid #bababa;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
border: 1px solid #D5D5D5;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
-webkit-background-clip: padding-box;
}

thead {

display: table-header-group;
vertical-align: middle;
border-color: inherit;
}

.ens{
 top: -8px;
margin-left:15px;
}

.ens2{
 top: -100px;
margin-left:15px;
}

.enshv{
    margin-top:-1px;

margin-left:15px;
}

.enstbl {
margin-top:-60px;
}

.ensbot{
margin-top:11px;
}

.widget .widget-header h3 { /* baja la palabra tablet---*/
top: -8px;
margin-left:-35px;
position: relative;
left: 10px;
display: inline-block;
margin-right: 3em;
font-size: 14px;
font-weight: 600;
color: #555;
line-height: 18px;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}



.widget .widget-header h4 { /* baja la palabra tablet----*/
top: -8px;
margin-left:0px;
position: relative;
left: 10px;
display: inline-block;
margin-right: 3em;
font-size: 14px;
font-weight: 600;
color: #555;
line-height: 18px;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"] {
display: inline-block;
margin-left: 13px;
margin-right: -2px;
font-size: 16px;
color: #555;
vertical-align: middle;
}




/* ESTE MANEJA LA VISTA Curso/Detail 
----------------------------------------------------------------------------------*/


.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}




/* ESTE CSS HACE QUE SE MUESTRE EN ROJO LOS CAMPOS QUE NO SON DILIGENCIADOS
----------------------------------------------------------.---------------------------*/
    /* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}




/* PARA DESAPARECER EL BORDE DE LOS CAMPOS DE TEXTO
-----------------------------------------------------------------------------------------*/
.TextBoxAsLabel
{
   border: none;
   background-color: #fff;
   background: transparent;
}

.TextBoxAsLabelAcademicos
{
   border: none;
   background-color: #fff;
   background: transparent;
   margin-top:7px;
   width:900px;
}




/*  ACCORDION MENU PARA VACUNA/ESQUEMAVACUNACION----NO HACE NADA
---------------------------------------------------------------------------------------*/



/*
body{margin-top:0px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

*/
/* LogoUcaldas
----------------------------------------------------------*/
.logoUcaldas{
    margin-top:-8px;
}







/*                    ESTE CSS DA FONDO AL LOGIN DEL ESTUDIANTE
----------------------------------------------------------------------------------*/
.principal { 
  background: url(../../images/fondo2Nuevo.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 100% 100%;
}





.form-group.last { margin-bottom:0px; }



/*                    ESTE CSS DA FONDO AL LOGIN DEL DOCENTE
-------------------------------------------------------------------------------*/

.principalDocente { 
  background: url(../../images/fondo7.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 100% 100%;
}
/*
.panel-default {
opacity: 0.9;
margin-top:290px;
*/

}
.form-group.last { margin-bottom:0px; }

/*                    ESTE CSS DA FONDO AL LOGIN DE TODOS LOS ADMINISTRADORES
----------------------------------------------------------*/

.principalAccount { 
  background: url(../../images/fondo6.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 100% 100%;
}
/*
.panel-default {
opacity: 0.9;
margin-top:290px;
¨*/

}
.panel-defaultb {
opacity: 0.9;
margin-top:10px;


}
.form-group.last { margin-bottom:0px; }




/*                    ESTE CSS ES PARA EL ACCORDION---NO HACE NADAAAAAAAAAAAAAAA
----------------------------------------------------------*/
/*    .body{margin-top:5000px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }





/* PaginaPrincipal
----------------------------------------------------------*/
/*
Free App template for Bootstrap 3
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
Image credits: unsplash.com
Image placeholders: placemi.com
*/


.mt-100 {
    margin-top: 100px; 
}
.mb-100 {
    margin-bottom: 100px;
}

.icon {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 8px;
    border: 2px solid;
    border-radius: 50%;
}

.header {
    padding-top: 50px;
    background-color: #eee;
    overflow: hidden;
}
.footer {
    color: #887;
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content {
    position: relative;
    display: table;
    width: 100%;
    min-height: 100vh;
}
.pull-middle {
    display: table-cell;
    vertical-align: middle;
}

.btn {
    padding-left: 25px;
    padding-right: 25px;
}
.btn-circle {
    border-radius: 20px;
}

.input-group input {
    border: 1;
    box-shadow: none;
    padding-right: 30px;
}
.input-group input:focus,
.input-group input:active {
    outline: 0;
    box-shadow: none;
}
.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -18px;   
    border-radius: 20px;
}

.phone {
    position: relative;
    max-width: 263px;
    margin: 0 auto;
    padding: 65px 15px 55px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #222;
    box-shadow: 20px 20px 40px #887;
}






/* TABLA VACUNAAAAAAAAAAAAAAAAA ESTUDIANTEEEEEEEEEEEEEEEEEEEEEEeeeeeeeeeeeeeeeee*/
/* DISEÑO DE TODAS LAS TABLAS
-------------------------------------------------------------------------------------*/
.tableVacuna-borderedVacuna {
border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
grid-cell:initial;

}

.tableVacuna {
    margin-left: -30px;
    width: 1230px;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    
}


.widgetVacuna.widgetVacuna .tableVacuna {
margin-bottom: 100px;
border: none;

}

.widgetVacuna.widgetVacuna .widgetVacuna-contentVacuna {
padding: 0;

}

.widgetVacuna .widgetVacuna-headerVacuna + .widgetVacuna-contentVacuna {
border-top: none;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
}


.widgetVacuna .widgetVacuna-headerVacuna {

margin-left:-30px;
margin-right:20px;
margin-top:10px;
    width:1230px;
position:inherit;
height: 40px;
line-height: 40px;
background: #E9E9E9;
background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
text-shadow: 0 1px 0 #fff;
border-radius: 5px 5px 0 0;
box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
border-bottom: 1px solid #bababa;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
border: 1px solid #D5D5D5;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
-webkit-background-clip: padding-box;
}

/* se encarga del glyphicon----*/
.widgetVacuna .widgetVacuna-headerVacuna h2 { 
top: -8px;
margin-left:0px;
position: relative;
left: 10px;
display: inline-block;
margin-right: 3em;
font-size: 14px;
font-weight: 600;
color: #555;
line-height: 18px;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

/*se encarga del texto del widget---*/
.widgetVacuna .widgetVacuna-headerVacuna h4 { 
top: -8px;
margin-left:-40px;
position: relative;
left: 10px;
display: inline-block;
margin-right: 3em;
font-size: 14px;
font-weight: 600;
color: #555;
line-height: 18px;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}


.widgetVacuna .widgetVacuna-headerVacuna [class^="icon-"], .widgetVacuna .widgetVacuna-headerVacuna [class*=" icon-"] {
display: inline-block;
margin-left: 13px;
margin-right: -2px;
font-size: 16px;
color: #555;
vertical-align: middle;
}



/*                    CSS PARA BOTON "Registrar Vacuna"
----------------------------------------------------------------------------------*/
.custom {
    margin-left:-5px;
    width: 150px !important;
}





/*                    CSS PARA Vacuna/EsquemaVacunacion     ACCORDION
-----------------------------------------------------------------------------------------------*/

.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 30px }/*para la letra*/
.panel-body .table {margin-bottom: 0px; }

/*                    estilo del    ACCORDION
-----------------------------------------------------------------------------------------------*/
.customd {
    margin-top:-2px;
    
    width: 150px !important;
}


/*                    CSS PARA el legend de la vacuna en  /Vacuna/EsquemaVacunacion
-----------------------------------------------------------------------------------------------*/
.tan {
width:700px;
}



/*                   tabla estudiantes familia
-----------------------------------------------------------------------------------------------*/

.tablaFamilia {
width:900px;
}

.hv {
margin-left:50px;
}



.inicio {
margin-left:550px;
}


.myButton {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #eb123e;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}


.btnaa{
    margin-left:600px;

}

.btndetail {
margin:50px;
margin-top:-15px;
margin-left:650px;
}

.btnlegend {
margin-top:-5px;
}

.btnleg {
margin-top:1px;
}


.imagenn {
margin-left:-90px;
margin-top:-50px;
width:5000px;



}




/*                  NIVEL 3
-----------------------------------------------------------------------------------------------*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
